

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VA</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/jquery.jcarousel.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="css/images/icon_red.png" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/func.js"></script>
</head>
<body>

<div class="shell">
  <div id="header">
    <h1 id="logo"><a href="#">Volkswagen<br />
      <span class="min"><span class="red">Audi</span></span></a></h1>
    <div id="navigation">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Solutions</a></li>
        <li class="last"><a href="#">Contacts</a></li>
      </ul>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <div class="slider-holder"> <a href="#" class="prev notext">prev</a> <a href="#" class="next notext">next</a>
    <div class="slider">
      <ul>
        <li><img src="css/images/audi_quattro.jpg" alt="" /></li>
        <li><img src="css/images/vw.jpg" alt="" /></li>
        <li><img src="css/images/audi.png" alt="" /></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="content" class="left">
      <div class="head">
        <h2>Welcome</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor</p>
      </div>
      <div class="col left">
        <h2>Who We Are?</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipi</h3>
        <p>scing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor.iscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor.</p>
      </div>
      <div class="col right">
        <h2>What We Do?</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipi</h3>
        <p>scing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor.iscing elit. Integer lorem lorem lorem lorem lor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lor.</p>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div id="sidebar" class="right">
      <h2>Latest News</h2>
      <div class="item"> <span class="date">May 22 2010</span>
        <h3>Lorem ipsum dolor</h3>
        <p>sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lorsectetur adipiscing elit.</p>
      </div>
      <div class="item"> <span class="date">May 22 2010</span>
        <h3>Lorem ipsum dolor</h3>
        <p>sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lorsectetur adipiscing elit.</p>
      </div>
      <div class="item"> <span class="date">May 22 2010</span>
        <h3>Lorem ipsum dolor</h3>
        <p>sit amet, consectetur adipiscing elit. Integer lorem lorem lorem lorem lorsectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="footer">
    <p class="lf">Copyright &copy; 2016 - All Rights Reserved</p>
    <p class="rf">Design by Ralph GAUME / Xavier SIMON</p>
    <div style="clear:both;"></div>
  </div>
</div>
</body>
</html>