<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="PROJECT DEV WEB" />
<meta name="author" content="Xavier SIMON / Ralph GAUME" />

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href="css/modern-business.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<title>VA</title>
<link rel="shortcut icon" type="image/x-icon"
	href="css/images/icon_red.png" />
<link href="css/round-about.css" rel="stylesheet"/>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1 id="logo">
					<a href="index.html"> <span class="min"> <span
							class="white">Volkswagen</span><span class="red">&nbsp;&amp;&nbsp;Audi</span></span>
					</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Véhicules <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Volkswagen</li>
							<li><a href="">Volkswagen Golf<br /> <img
									src="css/images/vwx5.jpg" /></a></li>
							<li></li>
							<li><a href="">Volkswagen Tiguan<br /> <img
									src="css/images/vwx6.jpg" /></a></li>
							<li></li>
							<li class="divider"></li>
							<li class="dropdown-header">Audi</li>
							<li><a href="">Audi A3<br /> <img
									src="css/images/audix5.jpg" /></a></li>
							<li></li>
							<li><a href="">Audi Q5<br /> <img
									src="css/images/audix6.jpg" /></a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Espace client <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-left">
							<!--  je modifie le menu déroulant car je compte faire un truc du genre inscription connection -->
							<li><a href="inscription">Connexion/Inscription</a></li>
							<!-- et je ferais en sorte que ça apparaisse si le mec est connecté  -->
							<li><a href="">Déconnexion</a></li>
						</ul></li>

					<li><a href="contact.html">Informations</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Introduction Row -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					A propos de nous
				</h1>
				<p>
				Volkswagen est une marque automobile allemande créée en 1937. Elle appartient 
				au groupe Volkswagen AG tout comme la marque Porsche, Lamborghini et plus 
				particulièrement Audi, un autre constructeur automobile allemand créée en 1909.
				
				Ainsi pour renforcer les liens entre les deux marques et au vue de leur succès
				à l'échelle mondiale, le groupe Volkswagen a décidé de développer une application web 
				permettant aux clients de pouvoir commander des véhicules qu'ils peuvent au 
				préalable personnaliser mais également de faire des réservations pour faire 
				un essaie au garage.		   
						   </p>
			</div>
		</div>

		<!-- Team Members Row -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Notre equipe</h2>
			</div>
			<div class="col-lg-6 col-sm-6 text-center">
				<img class="img-circle img-responsive img-center"
					src="css/images/xavier 2.jpg" alt=""/>
				<h3>
					Xavier SIMON<small> Master MIAGE</small>
				</h3>
				<p></p>
			</div>
			<div class="col-lg-6 col-sm-6 text-center">
				<img class="img-circle img-responsive img-center"
					src="css/images/ralph.png" alt=""/>
				<h3>
					Ralph GAUME<small> Maste MIAGE</small>
				</h3>
				<p></p>
			</div>

		</div>

		<hr/>

		<!-- Footer -->
		<footer>
			<div class="footer">
				<p class="lf">Copyright &copy; 2016 - All Rights Reserved</p>
				<p class="rf">Design by Ralph GAUME / Xavier SIMON</p>
				<div style="clear: both;"></div>
			</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

</body>

</html>
