

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="PROJECT DEV WEB" />
<meta name="author" content="Xavier SIMON / Ralph GAUME" />

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href="css/modern-business.css" rel="stylesheet" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<title>VA</title>
<link rel="shortcut icon" type="image/x-icon"
	href="css/images/icon_red.png" />



</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1 id="logo">
					<a href="index.html"> <span class="min"> <span
							class="white">Volkswagen</span><span class="red">&nbsp;&amp;&nbsp;Audi</span></span>
					</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Véhicules <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Volkswagen</li>
							<li><a href="">Volkswagen Golf<br /> <img
									src="css/images/vwx5.jpg" /></a></li>
							<li></li>
							<li><a href="">Volkswagen Tiguan<br /> <img
									src="css/images/vwx6.jpg" /></a></li>
							<li></li>
							<li class="divider"></li>
							<li class="dropdown-header">Audi</li>
							<li><a href="">Audi A3<br /> <img
									src="css/images/audix5.jpg" /></a></li>
							<li></li>
							<li><a href="">Audi Q5<br /> <img
									src="css/images/audix6.jpg" /></a></li>
						</ul></li>

					<!--  Seul un administrateur verra ce menu -->
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionUsers.html">Gestion Utilisateurs</a></li>
							<li><a href="gestionInfos.html">Informations Admin.</a></li>
						</ul></li>
					<!--  Seul un utilisateur (client) verra ce menu -->
					<li sec:authorize="hasRole('ROLE_USER')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionUsers.html">Mes essais</a></li>
							<li><a href="gestionInfos.html">Mes informations</a></li>
						</ul></li>
					<ul class="nav navbar-nav navbar-right"
						th:if="not ${#authorization.expression('isAuthenticated()')}">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"> Login <span
								class="glyphicon glyphicon-log-in"></span></a>
							<div class="dropdown-menu" style="width: 230px;">
								<!-- 								<form id="formLogin" class="form container-fluid" -->
								<!-- 									th:action="@{/index}" method="post"> -->
								<!-- 									<div> -->
								<!-- 										<label for="usr"> E-mail:</label> <input class="form-control" -->
								<!-- 											id="usr" placeholder="Entrer un email" type="text" -->
								<!-- 											name="mail" /> <label for="pwd"> Password: </label> <input -->
								<!-- 											class="form-control" id="pwd" placeholder="Mot de passe" -->
								<!-- 											type="password" name="password" /> -->
								<!-- 									</div> -->
								<!-- 									<input type="submit" value="Sign In" id="btnLogin" -->
								<!-- 										class="btn btn-default" /> -->
								<!-- 								</form> -->
								<form id="formLogin" class="form container-fluid"
									th:action="@{/index}" method="post">
									<div class="form-group">
										<label for="usr"> User Name : </label> <input type="text"
											class="form-control" id="usr"
											placeholder="Entrer un user name" name="username" />

									</div>
									<div class="form-group">
										<label for="pwd"> Password :</label> <input type="password"
											class="form-control" id="pwd" placeholder="Mot de passe"
											name="password" />

									</div>
									<div>
										<!-- <input type="submit" value="Sign In" /> -->
										<button type="submit" id="btnLogin" class="btn btn-default">Connexion</button>
									</div>
								</form>
								<div class="container-fluid">
									<br /> <a class="small" href="inscription.html">Nouveau
										client ? Créez un compte</a>
								</div>
							</div></li>
					</ul>
					<ul class="nav navbar-nav navbar-right"
						th:if="${#authorization.expression('isAuthenticated()')}">
						<li><a th:href="@{/logout}">Déconnexion</a></li>
					</ul>
					<li><a href="informations.html">Informations</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">
					Nouveau client? <small>Créez un compte</small>
				</h2>
			</div>
		</div>

		<form class="form-horizontal" action="#" th:action="@{/inscription}"
			th:object="${utilisateur}" method="post">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Civilité :</label>
				<div class="col-sm-4">
					<label for="male">Homme&nbsp;&nbsp;</label><input type="radio"
						value="homme" th:field="*{sexe}" /> <br /> <label for="female">Femme&nbsp;&nbsp;</label><input
						type="radio" value="femme" th:field="*{sexe}" />
				</div>
				<div th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}">Erreur
					civilité</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Prénom :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{firstName}"
						placeholder="Entrez prénom" />
				</div>
				<div th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}">Erreur prénom</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Nom :</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{lastName}" class="form-control"
						placeholder="Entrez nom" />
				</div>
				<div th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}">Erreur nom</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Age :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{age}"
						placeholder="Entrez age" />
				</div>
				<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Erreur
					âge</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">E-mail :</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{email}" class="form-control"
						placeholder="Entrez email" />
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erreur
					email</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Mot de passe
					:</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{pwd}" class="form-control"
						placeholder="Entrez mot de passe" />
				</div>
				<div th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">Erreur
					mot de passe</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3"></div>
				<button type="submit" value="Sign In" class="btn btn-default">Valider</button>
			</div>

		</form>


		<!-- Footer -->
		<footer>
			<div class="footer">
				<p class="lf">Copyright &copy; 2016 - All Rights Reserved</p>
				<p class="rf">Design by Ralph GAUME / Xavier SIMON</p>
				<div style="clear: both;"></div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- 	<script> 
	// $('a').mouseover(function() { // $(this).dropdown('toggle'); // });
	</script> -->

</body>

</html>