<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form th:object="${pwdRetriever}" method="POST">
		<!-- pour éviter le problème de token null avec spring security -->
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<p>
			Message: <input type="text" th:field="*{email}" />
		</p>
		<p>
		<input type="submit" value="Submit" />
			<input type="reset" value="Reset" />
		</p>
	</form>
</body>
</html>