<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<!-- META -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="PROJECT DEV WEB" />
<meta name="author" content="Xavier SIMON / Ralph GAUME" />

<!-- CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href="css/modern-business.css" rel="stylesheet" />
<link href="css/inner_addon.css" rel="stylesheet" />

<title>VA</title>
<link rel="shortcut icon" type="image/x-icon"
	href="css/images/icon_red.png" />
</head>

<body>


	<!--  BARRE DE NAVIGATION -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- LOGO -->
				<h1 id="logo">
					<a href="index.html"> <span class="min"> <span
							class="white">Volkswagen</span><span class="red">&nbsp;&amp;&nbsp;Audi</span></span>
					</a>
				</h1>
			</div>
			<!-- navbar-header -->

			<!-- navbar-collapse -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">

					<!-- VEHICULES -->
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Véhicules <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header" th:if="${not #lists.isEmpty(vw)}">Volkswagen</li>
							<li th:each="car : ${vw}"><a th:if="${car.base}"
								th:href="@{'/voiture?id='+${car.idCar}}" th:text="${car.model}">
									<br /> <img th:if="${car.base}" th:src="@{${car.vignette}}" />
							</a></li>
							<li class="divider"></li>
							<!-- Audi -->
							<li class="dropdown-header" th:if="${not #lists.isEmpty(audi)}">Audi</li>
							<li th:each="car : ${audi}"><a th:if="${car.base}"
								th:href="@{'/voiture?id='+${car.idCar}}" th:text="${car.model}"><br />
									<!-- 									<img th:src="${car.vignette}" /> --> <img
									th:if="${car.base}" th:src="@{${car.vignette}}" /> </a></li>
						</ul></li>

					<!--  DROPDOWN ADMIN -->
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionInfos.html"><span
									class="glyphicon glyphicon-user"></span> Mon profil</a></li>
							<li><a href="gestionUsers.html"><span
									class="glyphicon glyphicon-th-list"></span> Gestion des
									utilisateurs</a></li>
						</ul></li>

					<!--  DROPDOWN COSTUMER -->
					<li sec:authorize="hasRole('ROLE_USER')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionInfos.html"><span
									class="glyphicon glyphicon-user"></span> Mon profil</a></li>
							<li><a href="gestionEssais.html"><span
									class="glyphicon glyphicon-shopping-cart"></span> Mes
									réservations</a></li>
						</ul></li>

					<!--  SIGN UP -->
					<ul class="nav navbar-nav navbar-right"
						th:if="not ${#authorization.expression('isAuthenticated()')}">
						<li><a href="inscription.html"><span
								class="glyphicon glyphicon-user"></span> Inscription</a></li>
					</ul>
					<!-- menu LOGIN -->
					<ul class="nav navbar-nav navbar-right"
						th:if="not ${#authorization.expression('isAuthenticated()')}">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"><span
								class="glyphicon glyphicon-log-in"></span> Login </a>
							<div class="dropdown-menu" style="width: 230px;">
								<form id="formLogin" class="form container-fluid"
									th:action="@{/index}" method="post">
									<label><small>Déjà membre? Connectez vous :</small><br /></label>
									<div class="form-group">
										<div class="left-inner-addon">
											<i class="fa fa-envelope-o fa-fw"></i> <input type="text"
												class="form-control" id="usr" name="username"
												placeholder="E-mail" />
										</div>
									</div>
									<div class="form-group">
										<div class="left-inner-addon">
											<i class="fa fa-key fa-fw"></i> <input type="password"
												class="form-control" id="pwd" placeholder="Mot de passe"
												name="password" />
										</div>
									</div>
									<input type="hidden" name="${_csrf.parameterName}"
										value="${_csrf.token}" />
									<div>
										<!-- <input type="submit" value="Sign In" /> -->
										<button type="submit" id="btnLogin"
											class="btn btn-success-outline">Connexion</button>
									</div>
								</form>
								<div class="container-fluid">
									<br /> <a class="small" href="inscription.html">Nouveau
										client ? Créez un compte</a>
								</div>
							</div></li>
					</ul>
					<ul class="nav navbar-nav navbar-right"
						th:if="${#authorization.expression('isAuthenticated()')}">
						<li><a th:href="@{/logout}">Déconnexion&nbsp; <span
								class="glyphicon glyphicon-off"></span></a></li>
					</ul>
					<li><a href="informations.html">Informations</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- /.barre navigation -->


	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">
					Félicitation, <small>votre réservation a été enregistrée</small>
				</h1>

				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar"
						aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
						style="width: 100%;">100%</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-4 col-md-4 col-xs-6 thumb">
				<img class="img-thumbnail img-responsive img-center"
					src="css/images/vwx9.jpg" />
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-4 col-md-4 col-xs-6 thumb">
				<img class="img-thumbnail img-responsive img-center"
					src="css/images/audix7.jpg" />
			</div>
			<div class="col-lg-2"></div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Services</h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<span class="fa-stack fa-5x"> <i
							class="fa fa-circle fa-stack-2x text-info"></i> <i
							class="fa fa-user fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					<div class="panel-body">
						<h4>Mon profil</h4>
						<p>Vous pouvez consulter votre profil...</p>
						<a href="gestionInfos.html" class="btn btn-primary-outline">Profil</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<span class="fa-stack fa-5x"> <i
							class="fa fa-circle fa-stack-2x text-info"></i> <i
							class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					<div class="panel-body">
						<h4>Mes réservations</h4>
						<p>Vous pouvez consulter et gérer vos réservations...</p>
						<a href="gestionEssais.html" class="btn btn-primary-outline">Réservations</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<span class="fa-stack fa-5x"> <i
							class="fa fa-circle fa-stack-2x text-info"></i> <i
							class="fa fa-fax fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					<div class="panel-body">
						<h4>Nous contactez</h4>
						<p>Vous pouvez nous contacter...</p>
						<a href="contact.html" class="btn btn-primary-outline">Nos
							coordonnées</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<div class="footer">
				<p class="lf">Copyright &copy; 2016 - All Rights Reserved</p>
				<p class="rf">Design by Ralph GAUME / Xavier SIMON</p>
				<div style="clear: both;"></div>
			</div>
		</footer>

	</div>

	<!-- 	<div th:if="${param.error}">Invalid username and password.</div> -->
	<!-- 	<div th:if="${param.logout}">You have been logged out.</div> -->
	<!-- SCRIPT -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>