<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<!-- META -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="PROJECT DEV WEB" />
<meta name="author" content="Xavier SIMON / Ralph GAUME" />

<!-- CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href="css/modern-business.css" rel="stylesheet" />

<title>VA</title>
<link rel="shortcut icon" type="image/x-icon"
	href="css/images/icon_red.png" />
</head>

<body>



	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1 id="logo">
					<a href="index.html"> <span class="min"> <span
							class="white">Volkswagen</span><span class="red">&nbsp;&amp;&nbsp;Audi</span></span>
					</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Véhicules <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Volkswagen</li>
							<li><a href="voiture.html">Volkswagen Golf<br /> <img
									src="css/images/vwx5.jpg" /></a></li>
							<li></li>
							<li><a href="voiture.html">Volkswagen Tiguan<br /> <img
									src="css/images/vwx6.jpg" /></a></li>
							<li></li>
							<li class="divider"></li>
							<li class="dropdown-header">Audi</li>
							<li><a href="voiture.html">Audi A3<br /> <img
									src="css/images/audix5.jpg" /></a></li>
							<li></li>
							<li><a href="voiture.html">Audi Q5<br /> <img
									src="css/images/audix6.jpg" /></a></li>
						</ul></li>

					<!--  Seul un administrateur verra ce menu -->
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionUsers.html">Gestion Utilisateurs</a></li>
							<li><a href="gestionInfos.html">Informations Admin.</a></li>
						</ul></li>
					<!--  Seul un utilisateur (client) verra ce menu -->
					<li sec:authorize="hasRole('ROLE_USER')" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="gestionUsers.html">Mes essais</a></li>
							<li><a href="gestionInfos.html">Mes informations</a></li>
						</ul></li>
					<ul class="nav navbar-nav navbar-right"
						th:if="not ${#authorization.expression('isAuthenticated()')}">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"> Login <span
								class="glyphicon glyphicon-log-in"></span></a>
							<div class="dropdown-menu" style="width: 230px;">
								<form id="formLogin" class="form container-fluid"
									th:action="@{/index}" method="post">
									<div class="form-group">
										<label for="usr"> User Name : </label> <input type="text"
											class="form-control" id="usr"
											placeholder="Entrer un user name" name="username" />

									</div>
									<div class="form-group">
										<label for="pwd"> Password :</label> <input type="password"
											class="form-control" id="pwd" placeholder="Mot de passe"
											name="password" />

									</div>
									<div>
										<!-- <input type="submit" value="Sign In" /> -->
										<button type="submit" id="btnLogin" class="btn btn-default">Connexion</button>
									</div>
								</form>
								<div class="container-fluid">
									<br /> <a class="small" href="inscription.html">Nouveau
										client ? Créez un compte</a>
								</div>
							</div></li>
					</ul>
					<ul class="nav navbar-nav navbar-right"
						th:if="${#authorization.expression('isAuthenticated()')}">
						<li><a th:href="@{/logout}">Déconnexion</a></li>
					</ul>
					<li><a href="informations.html">Informations</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide">
		<!--         Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<!--         Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill"
					style="background-image: url('css/images/vwx1.jpeg');"></div>
				<!-- <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div> -->
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('css/images/audix1.jpg');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('css/images/vwx4.jpg');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('css/images/audix3.jpeg');"></div>
			</div>
		</div>


		<!--         Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>
	</header>


	<!-- Page Content -->
	<div class="container">


		<form th:object="${car}" method="POST" onsubmit="return checkForm();">
			<!-- Problème de token null avec spring security de m... -->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Configuration</h1>
				</div>

				<div class="col-lg-12">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar"
							aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
							style="width: 10%;">10%</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Type de carburant</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="carburant">Sélection</label> <select
									class="form-control" id="carburant" th:field="*{fuel}">
									<option selected="selected" value="Tous">Tous</option>
									<option value="Diesel">Diesel</option>
									<option value="Essence">Essence</option>
								</select> <br /> <span id="msgCarbu" class="msgCarbu"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Transmission</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="transmission">Sélection</label> <select
									class="form-control" id="transmission"
									th:field="*{transmission}">
									<option selected="selected" value="Tous">Tous</option>
									<option value="Traction">Traction</option>
									<option value="Propulsion">Propulsion</option>
									<option value="Quattro">Quattro</option>
								</select> <br /> <span id="msgTrans" class="msgTrans"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Boîte de vitesses</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="boite">Sélection</label> <select
									class="form-control" id="boite" th:field="*{gearbox}">
									<option selected="selected" value="Tous">Tous</option>
									<option value="S-Tronic">S Tronic</option>
									<option value="Automatique">Automatique</option>
									<option value="5 vitesses">5 Vitesses</option>
									<option value="6 vitesses">6 Vitesses</option>
								</select> <br /> <span id="msgBoite" class="msgBoite"></span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Puissance</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="puissance">Sélection</label> <select
									class="form-control" id="puissance" th:field="*{power}">
									<option selected="selected" value="0">Tous</option>
									<option value="150">150ch</option>
									<option value="200">200ch</option>
								</select> <br /> <span id="msgPuiss" class="msgPuiss"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Taille des jantes</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="jantes">Sélection</label> <select
									class="form-control" id="jante" th:field="*{wheels}">
									<option selected="selected" value="0">Tous</option>
									<option value="16">16"</option>
									<option value="17">17"</option>
									<option value="18">18"</option>
									<option value="19">19"</option>
									<option value="20">20"</option>
								</select> <br /> <span id="msgJante" class="msgJante"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Couleurs</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="boite">Sélection</label> <select
									class="form-control" id="couleur" th:field="*{paint}">
									<option selected="selected" value="Tous">Tous</option>
									<option value="Gris argenté">Gris argenté</option>
									<option value="Bleu métallisé">Bleu métallisé</option>
									<option value="Noir">Noir</option>
									<option value="Blanc">Blanc</option>
									<option value="Brun">Brun</option>
								</select> <br /> <span id="msgColor" class="msgColor"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<!-- Features Section -->
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Options</h2>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-3">
					<span class="checkbox" th:each="equipement : ${equipements}">
						<label class="checkbox" th:field="*{selectedEquipements}">
							<input type="checkbox"  th:text="${equipement.libelle}"  th:field="*{acutalEquipements}"/>
						</label>
					</span>
					<!-- 					<label class="checkbox"> <input type="checkbox" -->
					<!-- 						id="inlineCheckbox1" value="option1" /> Phares Xénon Plus -->
					<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
					<!-- 						id="inlineCheckbox2" value="option2" /> Toit ouvrant -->
					<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
					<!-- 						id="inlineCheckbox3" value="option3" /> Intérieur cuir -->
					<!-- 					</label> -->

				</div>
<!-- 				<div class="col-lg-3"> -->
<!-- 					<label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox1" value="option4" /> Volant multifonctions -->
<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox2" value="option5" /> Sound system -->
<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox3" value="option6" /> Console GPS -->
<!-- 					</label> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-3"> -->
<!-- 					<label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox1" value="option7" /> Caméra de recul -->
<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox2" value="option8" /> Sièges chauffants -->
<!-- 					</label> <label class="checkbox"> <input type="checkbox" -->
<!-- 						id="inlineCheckbox3" value="option9" /> Kit main libre -->
<!-- 					</label> -->
<!-- 				</div> -->
			</div>
			<!-- /.row -->
			<br />
			<div class="row">
				<div class="col-lg-4">
					<img class="img-thumbnail" src="css/images/boite.jpg" />
				</div>
				<div class="col-lg-4">
					<img class="img-thumbnail" src="css/images/toit_ouvrant.jpg" />
				</div>
				<div class="col-lg-4">
					<img class="img-thumbnail" src="css/images/phare.png" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-lg-12" align="right">
					<a href="index.html"><button type="button"
							class="btn btn-default">Annuler</button></a> <a href="summary.html"><button
							type="submit" class="btn btn-success">
							Suivant <span class="glyphicon glyphicon-circle-arrow-right"></span>
						</button></a>
				</div>
			</div>
		</form>

		<!-- Footer -->
		<footer>
			<div class="footer">
				<p class="lf">Copyright &copy; 2016 - All Rights Reserved</p>
				<p class="rf">Design by Ralph GAUME / Xavier SIMON</p>
				<div style="clear: both;"></div>
			</div>
		</footer>

	</div>

	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<!-- jQuery -->
	<script src="js/validationOptions.js"></script>
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Script to Activate the Carousel -->
	<script>
		$('.carousel').carousel({
			interval : 5000
		//changes the speed
		})
	</script>
</body>

</html>